html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(230, 210, 101);
    width: 100%;
    height: 100vh;
    margin: 0;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
    font-size: 36px;
}
p{
    font-size: 24px;
    color: rgb(33, 32, 17);
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient( rgb(180, 133, 233), rgb(232, 216, 96));
}
ul.topnav li {
    display: inline-block; 
}

ul.topnav li a {
    display: block;
    color: #000;
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul.topnav li a:hover {
    background-color: rgb(206, 127, 237);
    border-radius: 30px;
}
img.funbit1{
    width:500px;
    height:500px;
    margin-bottom: -60px;
}
img.funbit2 {
    width: 400px;
    height: 400px;
    margin-bottom: -60px;
    margin-top: -15px;
}
ul.skills {
    list-style-type: none;
    justify-content: center;
    font-size: 24px;
    color: rgb(33, 32, 17);
}
a.link {
    color: rgb(33, 32, 17);
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}
.description{
    font-size: 18px;
    padding: -10px;
}
.contact{
    padding: 10px;
}
.footer {
    background: linear-gradient( rgb(232, 216, 96),rgb(132, 80, 192));
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    line-height: 1;
}
#footer{
    font-size: 16px;
}
/*-------Media query----------*/

@media (max-width: 500px){
   html{
    font-size: 50%;
   }
   body{
    width: 100%;
   }
   ul.topnav{
    height: auto;
   }
   ul.topnav a{
    display: column;
    justify-content: space-between;
    height: auto;
    line-height: 0.5;
   }
   .footer{
    padding: 5px;
    width: 100%;
   }
   #footer{
    font-size: 12px;
   }
}

@media (min-width: 501px) and (max-width: 768px){
    html {
            font-size: 75%;
        }
    
        body {
            width: 100%;
        }
    
        ul.topnav {
            height: auto;
        }
    
        ul.topnav a {
            display: column;
            justify-content: space-between;
            height: auto;
            line-height: 0.7;
        }
    
        .footer {
            padding: 7px;
            width: 100%;
        }
    
        #footer {
            font-size: 14px;
        }
}
@media (min-width: 769px) and (max-width: 1024px) {
    html {
        font-size: 90%;
    }

    body {
        width: 100%;
    }

    ul.topnav {
        height: auto;
    }

    ul.topnav a {
        display: column;
        justify-content: space-between;
        height: auto;
        line-height: 0.9;
    }

    .footer {
        padding: 9px;
        width: 100%;
    }

    #footer {
        font-size: 15px;
    }
}