* {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

#container {
  border: 2px solid #582137;
  width: 50%;
  margin: auto;
  padding: 20px;
}

h1 {
  background-color: #582137;
  color: white;
  padding: 20px 0;
  margin: 30px;
}

label {
  display: block;
  font-weight: bold;
  margin: 10px 0;
}

input,
select {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

#result {
  font-size: 24px;
  font-weight: bold;
  color: #582137;
  margin-top: 10px;
}
