body {
  background-image: url('https://i.postimg.cc/rRT8dcwn/Microsoft-Teams-image551ad57e01403f080a9df51975ac40b6efba82553c323a742b42b1c71c1e45f1.jpg');
  background-size: cover;
}

.search-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 34px;
  font-weight: bold;
  margin: 10px 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

#search {
  display: flex;
  width: 20%;
  padding: 10px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#itemCount {
  display: flex;
  width: 70%;
  padding: 10px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#searchButton {
  width: 20%;
  padding: 10px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#click:hover {
  background-color: black;
}
