body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

form {
  margin-bottom: 20px;
}

#gifContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  margin: 10px;
}
