body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    color: #000000;
    padding: 10px;
    text-align: center;
}

.converter {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 400px;
    padding: 20px;
    text-align: center;
}

.input {
    margin-bottom: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

.result {
    margin-top: 20px;
    font-size: 18px;
}
