html {
  background: #ddd;  
  height: 100%;
  display: flex;
}
body {
  width: 100%;
  margin: auto;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.taskDone {
  text-decoration: line-through;
}