
.dark {
  color: #ddd;

  &.page-container {
    background-color: #111;
  }

  &.title {
    color: rgb(255, 223, 97);
  }

  &.subtitle {
    color: grey;
  }

  &.themed-btn {
    margin: 5px;
    font-size: 13pt;
    border: 1px solid rgb(255, 223, 97);
    border-radius: 5px;
    padding: 10px 15px;
    color: rgb(255, 223, 97);
    background-color: #222;

    &:hover {
        background-color: rgba(255, 255, 255, 0.05);
        cursor: pointer;
    }
  }

  &.statement-container {
    background-color: black;
  }

  &.theme-container {
    background-color: #222;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  }
}